@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "Light";
    src: local("Inter-Light"),
        url("./assets/fonts/Inter-Light.ttf") format("truetype");
}

@font-face {
    font-family: "Regular";
    src: local("Inter-Regular"),
        url("./assets/fonts/Inter-Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Medium";
    src: local("Inter-Medium"),
        url("./assets/fonts/Inter-Medium.ttf") format("truetype");
}

@font-face {
    font-family: "SemiBold";
    src: local("Inter-SemiBold"),
        url("./assets/fonts/Inter-SemiBold.ttf") format("truetype");
}

@font-face {
    font-family: "Bold";
    src: local("Inter-Bold"),
        url("./assets/fonts/Inter-Bold.ttf") format("truetype");
}


@layer utilities {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }
    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
}